@model RegisterModel

@{
    ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>

<form asp-controller="Account" asp-action="Register" method="post">
    <div asp-validation-summary="All"></div>
    <div>
        <label class="form-label" asp-for="Login"></label>
        <input class="form-control" name='Login' asp-for="Login" />


        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" name="Email" asp-for="Email" />


        <label class="form-label" asp-for="Password"></label>
        <input class="form-control" name="Password" asp-for="Password" type="password" />


        <label class="form-label" asp-for="ConfirmPassword"></label>
        <input class="form-control" name="ConfirmPassword" asp-for="ConfirmPassword" type="password" />


        <br />
        <button type="submit" class="btn btn-primary mb-3">Отправить</button>
    </div>
</form>